.personalInfo {
  width: 80%;
  height: 40%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fdd262;
  margin-top: 10%;
  padding-top: 1%;
  border: 1px double;
  display: flex;
}
p a {
  color: #f2f2f2;
}
.myPhoto {
  width: 33%;
  height: 33%;
  margin-right: 5px;
  border: double 1px;
}
.imgDiv .myPhoto {
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 20px;
}

.imgDiv {
  position: relative;
  padding: 2%;
}
.experience {
  background-color: #fdd262;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  width: 80%;
  height: 40%;
  margin-bottom: 10%;
}
.classPhoto img {
  height: 60px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.classPhoto {
  border: double #d3dddc 2px;
  background-color: #446455;
  width: 100px;
}
.classPhoto p {
  font-size: 10%;
  margin: auto;
  margin-left: 10px;
}
.classInfo h2 {
  font-size: 8%;
}
.classInfo ul li {
  font-size: 6%;
}

.classGame {
  border: 3px #d3dddc double;
  display: flex;
}
.progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.progressbar > div {
  background-color: orange;
  /* Adjust with JavaScript */
  height: 4px;
  border-radius: 10px;
}

.petite {
  width: 100%;
}

.centrale {
  padding-left: 80px;
}

.container {
  padding-left: auto;
  padding-right: auto;
  width: 80%;
}

.container3 {
  padding-left: auto;
  padding-right: auto;
  width: 30%;
}

.rounded {
  border-radius: 5%;
}
