* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: inline-block;
    
    text-align: center; 
    vertical-align: center ;
    text-decoration: none;
    padding-top: 15px;
    width: 25% ;
    height: 50px;
    font-size: 12 px ;
}

/* Change color on hover */

.nav1
{
    background-color: #F5F5F5;
    color: black;
    font-size: small;
}
.nav2
{
    background-color: #AB987A;
    color: #f2f2f2;
}
.nav3
{
    background-color: #FF533D;
    color: #f2f2f2;
}
.nav4
{
    background-color: #0F1626;
    color: #f2f2f2;
}
/* Style the content */

.try {
    font-size: small;
}
.Logo
{
    display: block;
    text-align: center;
    
}
.image
{
    /*width: 80%;*/
    padding-top: 20%;

}
.txt{
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
}
.Regis
{
    text-align: center;
    text-decoration: none;
}
.Regi
{
    background-color: #E51C24;
    text-decoration: none;
    color : white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
    padding-right: 45px;
    
}

.ferme
{
    
    display: inline;
    padding-top: 5px;
    height: 100px;
    width: 200px

}
.unitC
{
    border : 0.2px #F1F2F3 solid;
    display: flex;
    flex-direction: column;
}
.desc
{
    display: flex;
    flex-direction: row;
    
}